/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

div#artistsResults img{
max-width:400px;
height:auto;
width:auto;
}

div#albumsResults img{
max-width:400px;
height:auto;
width:auto;
}

div#songsResults img{
max-width:400px;
height:auto;
width:auto;
}

div#playlistsResults img{
max-width:400px;
height:auto;
width:auto;
}

div#title img{
max-width:200px;
height:auto;
width:auto;
}

div#title {
text-align: center
}

div#all{
text-align: center
}

div#playlistResults {
font-size: 3em
}

div#songsResults {
font-size: 3em
}

div#albumsResults {
font-size: 3em
}

div#artistsResults {
font-size: 3em
}